<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chatbot test, vinicius</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet/less" type="text/css" href="css/style.less" >
    <script type="text/javascript" src="js/vue.min.js"></script>
    <script type="text/javascript" src="js/estado-chatbot.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.js"></script>
</head>
<body>
    <div id="chatbot" v-bind:class="{minimized: isMinimized}">
        <div class="title" v-on:click="toggleMinimize()">
            {{title}}
            <div class="close">x</div>
        </div>
        <div id="chatbot-messages">
            <component :is="message.component" :message="message" v-for="message in messages"></component>
        </div>
    </div>
    <script type="text/javascript" src="js/message.js"></script>
    <script type="text/javascript" src="js/chatbot.js"></script>

    <script type="text/javascript">
        /* CADA UM DESSES ESTADOS DEVERIA FICAR EM UM ARQUIVO SEPARADO*/
        var inicio = new estadoChatbot("inicio",
            "Oie! Você está planejando o aniversário do seu filho?\
            <button v-on:click=\"sim()\"> Sim! </button>"
       );
       inicio.mainTemplateProbability = 10;
       inicio.addVariant("Oie! Tem festinha chegando?\
       <button v-on:click=\"sim()\"> Sim! </button>");
       inicio.addVariant("Oie! Tem festinha de criança chegando?\
       <button v-on:click=\"sim()\"> Sim! </button>");

       inicio.methods.sim = function(){
            this.chatbot.set("inicio",1);
            this.chatbot.triggerState("inicio-sim");
        }
        chatbot.registerState(inicio);


        var sim = new estadoChatbot("inicio-sim",
            "Que legal, é um menino ou menina?\
            <button v-on:click=\"menino()\"> Menino </button>\
            <button v-on:click=\"menina()\"> Menina </button>\
            ");

        sim.methods.menino = function(evt) {
            this.chatbot.set("sexo","menino");
            this.chatbot.triggerState("idade");
        }
        sim.methods.menina = function(){
            this.chatbot.set("sexo","menina");
            this.chatbot.triggerState("idade");
        }
        chatbot.registerState(sim);


        var idade = new estadoChatbot("idade",
            "E quantos aninhos {{pronome()}} tem?\
            <input class='form-control' required='' v-bind:class=\"{'error':!validaIdade()}\" type='number' v-model=\"idade\" /> \
            <button v-on:click=\"confirmar()\">Confirmar</button>\
            "
        );
        idade.data.idade = null;
        idade.methods.pronome = function(){
            return (this.chatbot.get("sexo") === "menino") ? "ele" : "ela";
        }
        idade.methods.confirmar = function(){
            if (this.idade) {
                this.chatbot.set("idade",this.idade);
                this.chatbot.triggerState("data");
            } else {
                this.idade = "";
            }
        }
        idade.methods.validaIdade = function(){
            if (this.idade === null) {
                return true;
            }
            return (this.idade) ? true : false;
        }

        chatbot.registerState(idade);


        var data = new estadoChatbot("data",
            "Que legal, {{chatbot.get('idade')}} aninhos é uma idade mágica!\
            E quando vai ser a festa? \
            <input type='date' v-model='dataFesta' v-bind:class=\"{'error':!validaData()}\"/>\
            <button v-on:click=\"confirmar()\">Confirmar</button>\
            "
        );

        data.methods.confirmar = function(){
            if (this.dataFesta) {
                this.chatbot.set("data",this.dataFesta);
                this.chatbot.triggerState("contato");
            } else {
                this.dataFesta = "";
            }
        }
        data.methods.validaData = function(){
            if (this.dataFesta === null) {
                return true;
            }
            return (this.dataFesta) ? true : false;
        }
        data.data.dataFesta = null;
        chatbot.registerState(data);

        var contato = new estadoChatbot("contato",
            "Dia {{getFormatedDate()}}, que legal é {{getWeekDay()}}. <br />\
            Quer deixar um contato para te elaborarmos uma proposta?  <br />\
            Pode ficar tranquila, o orçamento é sem compromisso! \
            <button v-on:click=\"whatsapp()\">Sim, um whatsapp</button>\
            <button v-on:click=\"email()\">Sim, um email</button>\
            "
        );

        contato.methods.getDateObject = function(){
            data = this.chatbot.get("data");
            data = data.split('-');
            data = new Date(data[0],data[1],data[2]);
            return data;
        }

        contato.methods.getFormatedDate = function(){
            date = this.getDateObject();
            return date.getDate()+"/"+date.getMonth();
        }

        contato.methods.getWeekDay = function(){
            weekDays = [
                "um domingo",
                "uma segunda",
                "uma terça",
                "uma quarta",
                "uma quinta",
                "uma sexta"
            ];
            date = this.getDateObject();
            return weekDays[date.getDay()];
        }

        contato.methods.email = function(){
            this.chatbot.set("tipoContato","email");
            this.chatbot.triggerState("nome");
        }

        contato.methods.whatsapp = function(){
            this.chatbot.set("tipoContato","whatsapp");
            this.chatbot.triggerState("nome");
        }
        chatbot.registerState(contato);


        var nome = new estadoChatbot("nome",
            "Certo! Entraremos em contato por {{chatbot.get('tipoContato')}}\
            Para finalizar só precisamos saber seu nome e {{chatbot.get('tipoContato')}}.\
            <input type='text' class='form-control' v-model='contato' v-bind:class=\"{'error':!validaContato()}\" :placeholder=\"getPlaceholderContato()\"/>\
            <input type='text' class='form-control' v-bind:class=\"{'error':!validaNome()}\" v-model='nome' placeholder='Seu nome'/>\
            <button v-on:click=\"confirmar()\">Confirmar</button>\
            "
        );

        nome.data = {
            "contato": null,
            "nome": null
        }

        nome.methods = {
            getPlaceholderContato: function(){
                if (this.chatbot.get('tipoContato') === "whatsapp") {
                    return "(xx) xxxxx-xxxx";
                }
                return "seuemail@gmail.com";
            },
            validaNome: function(){
                if (this.nome === null) {
                    return true;
                }
                return (this.nome) ? true : false;
            },
            validaContato: function(){
                if (this.contato === null) {
                    return true;
                }
                return (this.contato) ? true : false;
            },
            confirmar: function(){
                var valido = true;
                if (!this.nome) {
                    valido = false;
                    this.nome = "";
                }
                if (!this.contato) {
                    valido = false;
                    this.contato = "";
                }
                if (valido) {
                    this.chatbot.set("nome",this.nome);
                    this.chatbot.set("contato",this.contato);
                    this.chatbot.triggerState("sucesso");
                }
            },
        };

        chatbot.registerState(nome);

        var sucesso = new estadoChatbot("sucesso",
            "Combinado {{chatbot.get('nome')}}, em até dois dias entraremos em contato pelo {{chatbot.get('tipoContato')}}: {{chatbot.get('contato')}}!\
            Com certeza a festinha {{getSexo()}} vai ser um sucesso!\
            "
        );
        sucesso.methods.getSexo = function(){
            if (this.chatbot.get("sexo") === "menino") {
                return "do seu filho";
            } else {
                return "da sua filha";
            }
        }
        chatbot.registerState(sucesso);

        window.setTimeout(function(){
            chatbot.minimized = false;
            chatbot.triggerState("inicio");
        },300);

    </script>
</body>
</html>
